<section class="sidebar">
    <div>
        <div class="sidebar-header">
            <img src="{{logo}}" alt="logo" />
        </div>
        <ul class="sidebar-list">
            {{#each listItems}}
                {{#with this}}
                    <li class="sidebar-list-item {{#if isActive}}active{{/if}} setting-list-item" data-id="{{id}}">
                        <img src="{{icon}}" alt="{{label}}" />
                        {{label}}
                    </li>
                {{/with}}
            {{/each}}
        </ul>
    </div>
    {{{ActionsMenu active="settings"}}}
</section>
