<main class="app-container">
    <div class="main">
        {{{ChatList 
            items=chatItems 
            onChatClick=handleChatClick
            activeId=activeChatId
        }}}
        <div class="main-section">
            {{{MainHeader title=headerTitle}}}
            
            {{#if activeChatId}}
                <div class="chat-content">
                    {{{Messages messages=messages}}}
                    {{{MessageInput onSend=handleSendMessage}}}
                </div>
            {{else}}
                <div class="chat-content-default">
                    Select somebody for chatting
                </div>
            {{/if}}
        </div>
    </div>
</main>
