<div class="image-input">
    <label class="image-input-label" for="{{name}}">{{label}}</label>
    <input 
        id="{{name}}"
        name="{{name}}"
        class="image-input-field" 
        type="file"
        value="{{value}}"
    />
</div>
